sentry:
  dsn: ""
  tracesSampleRate: 1.0

integrations:
  - id: echo
    module: homeline/integrations/echo
  - id: simplisafe
    module: homeline/integrations/simplisafe
    config:
      username: foo
      password: bar
